{% load static %}
{% load selfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

     <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Настройка AJAX
        $(function() {
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
        });
    </script>

    <div class="center">

        <div class="menu">
                <center>
                    <img src="{% static 'images/blogme.png' %}" alt="" class="logo"><br>
                    <a href="{% url 'blog:index_page' %}">Главная</a><br>
                    <a href="{% url 'blog:rub' %}">Рубрики</a><br>
                    <a href="{% url 'about:index_about' 'acecrosser' %}">Блогми</a><br>
                    {% if user.is_authenticated %}
                        <br><a href="{% url 'blog:add_post' %}">Добавить</a><br>
                        <a href="/admin">Админка</a><br>
                    {% else %}
                    {% endif %}
                </center>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="section">
            {% block section %}
            {% endblock %}
        </div>

    </div>

    <div id="footer">© blogme {% year %}</div>

</body>
</html>