{% extends "base.html" %}

{% block title %}Новый пост | {% endblock %}


{% block content %}
<div class="mb-3">
    <form method="post">
        {% csrf_token %}
        <label class="form-label">Загаловок</label>
            {{ form.title }}
        <label class="form-label">Текст</label>
            {{ form.body }}
        <label class="form-label">Теги</label>
            {{ form.tags }}
        <label class="form-label">Рубрика</label>
            {{ form.rubric_name }}
        <button type="submit" class="btn btn-light mt-3">Опубликовать</button>
    </form>
</div>
{% endblock %}