{% extends "base.html" %}
{% load selfilters %}

{% block content %}

    <h1>{{ post.title }}</h1>
    {{ post.update|date }} <br>
    {{ post.body|markdown }} <br>
    {{ post.rubric_name }} <br>
    {{ post.author }} <br><br>

    <a href="{% url 'blog:edit_post' post.slug %}">Редактировать</a>
    <br><br>

    {% for cmnt in comments %}
        {{ cmnt.comment }}
        {{ cmnt.author }}
        {{ cmnt.create }} <br><br><br><br>
    {% endfor %}

    <form method="post">
        <table>
            {% csrf_token %}
            {{ comment_form.as_table }}
        </table>
        <input type="submit" value="Добавить комментарий">
    </form>
    <br><br><br><br>
{% endblock %}