{% extends "base.html" %}

{% block content %}

    {% for post in posts %}
        <a href="{% url 'blog:detail' post.rubric_name.slug post.slug %}">{{ post.title }} </a> <br>
        {{ post.update|date }} <br>
        {% for tag in post.tags.all %}
            {{ tag }}
        {% endfor %}
        <br>{{ post.body|truncatewords:'100' }} <br>
        <a href="{% url 'blog:rubric' post.rubric_name.slug %}"> {{ post.rubric_name }}</a> <br>
        {{ post.author }} <br><br>
    {% endfor %}

{% endblock %}