{% extends "base.html" %}
{% load selfilters %}

{% block content %}

    {% for post in posts %}
        <a href="{% url 'blog:detail' post.rubric_name.slug post.slug %}">
            <h2>{{ post.title }}</h2></a>
        <rt style="color: #D3D3D3">{{ post.update|date }} </rt>
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:tags' tag %}">
                <span class="badge rounded-pill bg-light text-dark">{{ tag }}</span>
            </a>
        {% endfor %}

        <div class="mt-2 container">
            {{ post.body|markdown|truncatewords:'100' }}
            <div class="offset-8">
                 <button type="button" class="mb-5 btn btn-outline-dark">Количество комментарий: {{ post.comment.count }}</button>
             </div>
        </div>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
    {% endif %}
        {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">след.</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
    {% endif %}

{% endblock %}