a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #C71585; /* Цвет ссылки при наведении на нее курсора мыши */
}

h2 {
    margin: 0
}

#id_captcha_1 {
    margin-top: 20px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu {
    position: fixed;
    padding: 15px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 300px; /* Ширина слоя */
    height: 100%;
    font-size: 15px;
    background: #FFFAFA;
}
.content {
    position: absolute;
    font-family: 'PT Serif', serif;
    font-size: 19px;
    top: 20px;
    left: 320px;
    padding: 5px; /* Поля вокруг текста */
    width: 800px; /* Ширина слоя */
    border: 10px;
}

.section {
    position: fixed;
    right: 45px;
    top: 45px;
    padding: 15px; /* Поля вокруг текста */
    width: 300px; /* Ширина слоя */
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px #DCDCDC;
    background: #F5F5F5;
    float: right; /* Обтекание по правому краю */
}

.social_link {
    position: fixed;
    top: 80%;
    width: 200px;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.center {
    width: 1325px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

.logo {
    margin-bottom: 35px;
}

#footer {
    position: fixed;
    left:0; bottom: 0;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    text-align: center;
    width: 300px
}
