a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #C71585; /* Цвет ссылки при наведении на нее курсора мыши */
}

h2 {
    margin: 0
}

.menu {
    position: fixed;
    padding: 15px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 300px; /* Ширина слоя */
    height: 100%;
    font-size: 15px;
    background: #FFFAFA;
}
.content {
    position: absolute;
    top: 20px;
    left: 320px;
    padding: 5px; /* Поля вокруг текста */
    width: 800px; /* Ширина слоя */
    border: 10px;
}

.section {
    padding: 5px; /* Поля вокруг текста */
    width: 300px; /* Ширина слоя */
    float: right; /* Обтекание по правому краю */
}

.center {
    width: 1325px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

.logo {
    margin-bottom: 35px;
}

#footer {
    position: fixed;
    left:0; bottom: 0;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    text-align: center;
    width: 300px
}


