{% extends "base.html" %}

{% block content %}
    <h3>{{ profile.author.get_full_name }}</h3>
    <span class="badge bg-light text-dark">Статус: </span>
    <span class="badge bg-warning text-dark">{{ profile.status }}</span><br>
    <p class="fs-3 mt-2">Об авторе:</p>
    <div class="mt-2 container">
        {{ profile.about }}
    </div>

    <p class="fs-5 mt-3">Контакты:</p>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Github:</th>
            <td>{{ profile.github }}</td>
        </tr>
        <tr>
            <th scope="row">Telegram:</th>
            <td>{{ profile.telegram }}</td>
        </tr>
        <tr>
            <th scope="row">Mail:</th>
            <td>{{ profile.mail }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}


{% block section %}
<div class="section">
    {% for rub in rubric  %}
        {{ rub.rubric_name }} - {{ rub.post.count }} <br>
    {% endfor %}
    <br>
    Общее количестсво созданых постов: {{ posts.count }}
    <br>
    Комментарии: {{ comments.count }}
    <br><br>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <label class="form-label">Добавить рубрику:</label>
            {{ rubric_form.rubric_name }}
        <button type="submit" class="btn btn-warning mt-3">Добавить</button>
    </form>
    {% else %}
    {% endif %}
</div>
{% endblock %}