{% extends "base.html" %}

{% block content %}
     <h1>Дарова блогер йопта</h1>
    {{ profile.status }}<br>
    {{ profile.author }}<br>
    {{ profile.about }}<br>
    {{ profile.mail }}
{% endblock %}

{% block section %}
    {% for rub in rubric  %}
        {{ rub.rubric_name }} - {{ rub.post.count }} <br>
    {% endfor %}
    <br>
    Общее количестсво созданых постов: {{ posts.count }}
    <br>
    Комментарии: {{ comments.count }}

    {% if user.is_authenticated %}
    <form method="post">
    {% csrf_token %}
    <table>
        {{ rubric_form }}
    </table>
    <input type="submit" value="Добавить">
    </form>
    {% else %}
    {% endif %}
{% endblock %}